# VacationPy
----

## Analysis
The difference between the hemispheres is interesting since these regression models have the least variance since the data points are closer to the regression line.  When comparing the plot of Max Temp vs. Latitude for each region, there is not as much symmetry as assumed initially. The hypothesis was that the hemispheres would like a rainbow, and as locations progressed away from a latitude of 0, those temperatures would mirror each other.  However, there is still a substantial amount of similarity that is worth exploring. 

### #1: Symmetry
Firstly, the assumed rainbow shape appears in the figure comparing city Latitude to Max Temperature.  The peak of the rainbow isn't at a latitude of 0 but a 20. This peak suggests that the equator is not the middle of the parallels between the northern and the southern hemispheres. However, there are more data points greater than 0, so the symmetry could be interrupted by the sample size.

### #2: Correlations
Second, the r-squared value for Southern Hemisphere is .67 compared to the r-squared value of .49 for the Northern Hemisphere.  The Southern's coefficient is .82, which means there is a relatively strong positive relationship and is slightly higher than Northern's coefficient of -.7, which is a moderately negative relationship. The Northern has outliers of warmer temperatures between latitude 20 and 50, with outliers of cooler temperatures around the latitude of 5 and again around 70.   This comparison suggests that the data points better to fit the line for the Southern Hemisphere.  This difference is most likely a continuation fo the previous observation.

### #3: Why Temperature
Lastly, the other linear regression plots do not suggest any positive or negative relationships. The lack of correlation is most likely because the sun does not directly impact those other factors like humidity and wind. Those other factors might most likely be influenced by temperature (of which this analysis does not support) if heat affects moisture and pressure.  Since the sun's position influences seasonal temperatures of locations at different latitudes, it would seem appropriate that there would be a stronger correlation.  It would be interesting to plot data based on latitude over 20 compared to under 20 to see if those values fit the line better and increase the relationship's strength or perhaps increase the sample size to see what impact that has on the data.

In [119]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [120]:
# Load the csv exported
path="output_data\city_data.csv"

df=pd.read_csv(path)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [121]:
# Store 'Lat' and 'Lng' into  locations 
locations = df[["Lat", "Lng"]].astype(float)


# Set weight as Humidity
weight = df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure(center=(25, 10), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=600,
                                 point_radius=6)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [122]:
# create new data frame for narrowed down cities
criteria = df.loc[(df['Humidity'] <= 76) & (df['Max Temp'] < 84) & (df['Max Temp'] >= 75) & (df['Cloudiness'] < 20)].head(10)
criteria.dropna()

,Unnamed: 0,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
5,6,Jamestown,42.10,-79.24,75.00,49.0,1.0,6.93,US
10,11,Kiryat Gat,31.61,34.76,81.00,54.0,0.0,3.83,IL
49,53,Isla Vista,34.41,-119.86,82.40,65.0,1.0,3.36,US
60,64,Shetpe,44.17,52.12,79.21,29.0,0.0,13.06,KZ
65,71,Bud,39.45,-86.18,78.01,50.0,1.0,3.36,US
93,103,Caravelas,-17.71,-39.25,79.45,62.0,0.0,8.99,BR
127,140,Santa Barbara,34.42,-119.70,77.00,65.0,1.0,3.36,US
153,167,Bethel,41.37,-73.41,78.01,50.0,0.0,1.99,US
185,202,Rabak,13.18,32.74,82.42,64.0,15.0,2.98,SD
214,234,Montague,42.54,-72.54,79.00,40.0,12.0,3.00,US

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [123]:
# Store into variable named hotel_df.
hotel_df = criteria[["City Name","Lat","Lng","Country"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Set parameters to search for hotels with 5000 meters.
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# Hit the Google Places API for each city's coordinates.
# Loop through the cities_pd and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row['Lat']
    lon = row['Lng']

    # set up a parameters dictionary
    params = {
    "location": (f'{lat},{lon}'),
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

    # make request
    response = requests.get(base_url, params=params).json()
    
    # Store the first Hotel result into the DataFrame.
    try:
    
        hotel_df.loc[index, 'Hotel Name'] = response["results"][0]["name"]
        
    except (KeyError, IndexError):
        hotel_df.loc[index, 'Hotel Name'] = "None"
        print(f"Missing field/result... skipping {index}.")

C:\Users\tawnyn\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tawnyn\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping 65.

In [124]:
# Store the first Hotel result into the DataFrame
hotel_df["City"] = hotel_df["City Name"]
hotel_df

C:\Users\tawnyn\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City Name,Lat,Lng,Country,Hotel Name,City
5,Jamestown,42.10,-79.24,US,Chautauqua Harbor Hotel,Jamestown
10,Kiryat Gat,31.61,34.76,IL,Desert Gat,Kiryat Gat
49,Isla Vista,34.41,-119.86,US,Hampton Inn Santa Barbara/Goleta,Isla Vista
60,Shetpe,44.17,52.12,KZ,Gostinitsa Nurlan,Shetpe
65,Bud,39.45,-86.18,US,None,Bud
93,Caravelas,-17.71,-39.25,BR,Pousada Encanto Abrolhos,Caravelas
127,Santa Barbara,34.42,-119.70,US,Hilton Santa Barbara Beachfront Resort,Santa Barbara
153,Bethel,41.37,-73.41,US,Courtyard by Marriott Danbury,Bethel
185,Rabak,13.18,32.74,SD,Mercy Hotel,Rabak
214,Montague,42.54,-72.54,US,The Brandt House,Montague

In [125]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Lat", "Lng"]]

In [126]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)

# Add layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))